.b-warp{height: 100%;  background-color: #fff;}
/*公用*/
.btn{
	display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 1.3rem;
    line-height: 3.2rem;
    height: 3.2rem;
    border-radius: .4rem;
    width: 12rem;
    cursor: pointer;
    background-color: #408ef6 !important;
}
.center{ text-align: center; }
.marhorizauto{ margin-left: auto; margin-right: auto; }
.mart3{ margin-top: 3rem; }
.marb4{ margin-bottom: 4rem; }
.nobr{border:none !important;}
.textover{overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;}
.nomar{ margin: 0 !important; }
::-webkit-input-placeholder { /* WebKit browsers */
　　color:#a3a3a3; font-size: 1rem;
　　}
　　:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
　　color:#a3a3a3;font-size: 1rem;
　　}
　　::-moz-placeholder { /* Mozilla Firefox 19+ */
　　color:#a3a3a3;font-size: 1rem;
　　}
　　:-ms-input-placeholder { /* Internet Explorer 10+ */
　　color:#a3a3a3;font-size: 1rem;
　　}
.login-btn {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 1.3rem;
    line-height: 40px;
    height: 40px;
    border-radius: .4rem;
    width: 140px;
    cursor: pointer; margin: 10px auto;
}
.f10{ font-size: 10px; }

/*头部*/
.b-warp .top{ height: 70px; background: url(../images/w-top.jpg) no-repeat center bottom; background-size: 100% 100%; }
.b-warp .top img{ width: 60px; height: 60px; margin: 6px 0 0 10px;  }
.b-warp .top .title{ color: #fff;    margin-top: -64px;
    padding-left: 80px; }
.b-warp .top h1{ font-size: 1.2rem;   line-height: 36px; }
.b-warp .top p{ font-size:.6rem; }

/*首页*/
.index{ background: url(../images/w-btm.jpg) no-repeat center bottom ; background-size: 100% auto;}
.in-banner{ margin: 10px;}
.in-banner img{ width: 100%; }
.index .icons{ width: 100%; }
.index .icons li{float: left; width: 33%; text-align: center;  margin: 15px 0; }
.index .icons li img{ height:45px;  }
.index .icons li p{ line-height: 1.6rem;height: 1.6rem; font-size:1.1rem;margin-top: .5rem; }
.index .icons li span{display: block; line-height: 1.6rem;height: 1.6rem; font-size:.8rem; color: #cacaca; }
.index .copyright{ position: absolute; bottom: 8px; text-align: center; color: #fff; font-size:.6rem; line-height: 20px; width: 100%; }
/*学校介绍*/
.intr .txt{ line-height: 24px; margin: 20px 15px; }
.intr .txt p{ text-indent:40px; }
.intr .txt img{ width: 100%; margin: 6px 0 }
.intr .contact{ margin: 30px 3% 15px 3%; display:-webkit-box;
    display:box; }
.intr .qrq{ width: 21%;
    -webkit-box-flex: 1;
    margin-right: 13px; }
.intr .qrq img{ width: 100%; }

.intr .btm{ width: 65%; -webkit-box-flex:1;  } 
.intr .btm h2{ text-align: center; line-height:2.4rem; height:2.4rem; font-size: 1.6rem; }
.intr .btm p{font-size: 10px;margin-bottom: .4rem;}
.intr .btm span{line-height:1rem;  padding-left: 18px; background: url(../images/wb-1.png) no-repeat;  }
.intr .btm span.addr{background-position: 0 0 ;}
.intr .btm span.pep{background-position: 0 -24px; margin-right: 5px; display: inline-block;}
.intr .btm span.tel{ background-position: 0 -52px ;}
.intr .txt h3{ line-height: 24px; font-size: 18px;font-weight: 700; text-align: center; margin-bottom: 10px;}

/*校园新闻*/
.newslist .in-banner{ position: relative; }
.newslist .in-banner span{ position: absolute;  bottom: 0; left: 0; width: 100%; height: 34px; background-color: rgba(0,0,0,.7); line-height: 34px; color: #fff; font-size: 18px; text-align: center;  padding: 0 4px;}
.newslist .list{ margin: 10px }
.newslist .list li{padding-bottom: 10px; border-bottom: 1px solid #999; margin: 18px 0; } 
.newslist .list p{ line-height: 20px; font-size: 16px;font-weight: 700;}
.newslist .list li.tw p{  margin-bottom: 12px }
span.subtit{    line-height: 1.2rem; height: 1.2rem; padding-left: 13px; background: url(../images/wb-1.png) no-repeat 0 -42px; color: #a3a3a3; background-size: 50px 100px;font-size: .6rem; } 
span.subtime{    line-height: 1.2rem; height: 1.2rem; padding-left: 13px; background: url(../images/wb-1.png) no-repeat 0 -56px; color: #a3a3a3; background-size: 50px 100px;font-size: .6rem; } 
.newslist .list li.tw a{display:-webkit-box; display:box; }
.newslist .list li.tw .w{ width: 70%; margin-right: 2%; }
.newslist .list li.tw .t{ width: 28% }
.newslist .list li.tw .t img{ width: 100% }
.intr .subtit{ text-align: center; margin-bottom: 6px; }

/*招聘*/
.recruit{background-color: #ebf0f4;}
.recruitlist{  padding-top: 3px;}
.recruitlist li{ padding: 10px 16px; margin-bottom: 3px; background-color: #fff; }

.recruitlist .t1,.recruitlist .t2{ display: -webkit-flex;justify-content:space-between;
  display: flex;font-size: 12px;}
  .recruitlist .t1{ border-bottom: 1px dashed #eee;padding-bottom: 5px; margin-bottom: 5px;} 
.recruitlist .t1 .img{ width: 40px; position: relative; margin-right: 10px;  }
.recruitlist .t1 img{ width: 100%; }
.recruitlist .t1 .img i{ position: absolute; width: 16px; height: 16px; color: #fff; background-color: #eb4c3c; border-radius: 8px; left: -5px; top: -2px;font-size: 12px; line-height: 16px; text-align: center; }

.recruitlist .t1 .c-d{flex-grow:2; }
.recruitlist .t1 .c-d div{ position: relative; }
.recruitlist .t1 .c-d h3{ width: 70%; font-size: 16px; }
.recruitlist .t1 .c-d .s1{ position: absolute; right: 0; top: 6px; background-color: #3F8FF7; width: 50px; height: 20px; border-radius: 4px; text-align: center; color: #000; line-height: 20px;display: inline-block; }
.recruitlist .t1 .c-d .s2{ position: absolute; right: 0; top: 6px;  color: #FF6533; }
.recruitlist .t1 .c-d em{ line-height: 2rem; height: 2rem;color: #a3a3a3; font-size: .6rem; }
.recruitlist .t2 p{ overflow: hidden; }
.recruitlist .t2 p span{ display: inline-block; color: #3F8FF7; border: 1px solid #3F8FF7; border-radius: 4px; padding: 0 3px; line-height: 18px; height: 18px; margin-right: 3px; text-align: center; font-size: 10px; cursor: pointer;}

.item{ background-color: #fff; margin-bottom: 3px; padding: 10px 20px; }
.item strong{ font-size: 16px; display: block; line-height: 30px; height: 30px; border-bottom: 1px dashed #eee;padding-bottom: 5px; margin-bottom: 5px; }
.item li{ padding: 0 !important; margin: 0 !important; }
.gray-addr{ height: 1.2rem; padding-left: 13px; background: url(../images/wb-1.png) no-repeat 0 -42px;  background-size: 50px 100px;line-height: 1.2rem;color: #a3a3a3;font-size: 12px; }
.item p, .item p span{line-height: 24px;color: #a3a3a3;font-size: 14px;}
.btmbar{ position: fixed; bottom: 0; left: 0; width: 100%; height: 62px; display: -webkit-flex; display: flex; background-color: #fff } 
.btmbar .call{flex-grow:2; color: #3F8DF5; }
.btmbar .call a{ color: #3F8DF5; display: block;  margin: 20px auto 0 auto;  width: 110px;line-height: 14px;}
.btmbar .call span{ font-size: 18px; }
.btmbar .call i{ font-size: 8px;  }
.btmbar .call img{ float: left; margin: 5px 5px 0 0;  }
.btmbar .online{text-align: center;  background-color: #3F8DF5;flex-grow:2; text-align: center; line-height: 62px;color: #fff; font-size: 18px; cursor: pointer; } 
.btmbar img{ vertical-align: middle;height: 20px;}
/*弹层*/
.recruit{ position: relative; }
.recr-onliine-layer{ position: absolute;height: 100%; width: 100%;  left: 0; top: 0; }

.recr-onliine-layer .mask{ background:rgba(0,0,0,.6); height: 100%; width: 100%; position: absolute; }
.recr-onliine-layer .root{position: absolute; width: 80%; height: 370px; left: 10%; top: 10%; background: #fff url(../images/w-t1.png) no-repeat 0 0 ; background-size: 100% 44px; border-radius: 6px;}
.recr-onliine-layer .root .tit{ line-height: 20px; margin: 10px 0 20px 0; height: 20px; text-align: center; color: #fff;}

.login-item,.tarea { margin: 0 20px;color: #a3a3a3; }
.login-item li{line-height: 45px; height: 45px; padding: 0; border-bottom: 1px solid #dfdfdf; font-size: 1.2rem;} 
.login-item li span{ width: 30px; height: 30px;line-height: 30px; display: inline-block;  background-color: #3F8DF5; border-radius: 15px; vertical-align: middle; text-align: center; margin-right: 10px; }
.login-item li span img{ width: 60%; height:60%; vertical-align: middle; }
.login-item li i{  font-size: 1rem; }
.tarea {
    background: transparent;
    width: 100%;
    height: 6rem; margin: 0;
}
.anr-item{ margin-top:  10px;
    border-bottom: 1px solid #dfdfdf;  text-align: right; padding-bottom: 5px;}
.recr-onliine-layer .root .close{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 20px;
    margin-top: -10px;
    left: auto;
    right: .5rem;
}
.recr-onliine-layer .root .close:before,.recr-onliine-layer .root .close:after{position: absolute;
    content: "";
    width: 12px;
    height: 2px;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 -6px;}
    .recr-onliine-layer .root .close:before{
    background: #fff;transform: rotate(-45deg);}
        .recr-onliine-layer .root .close:after{
    background: #fff;transform: rotate(45deg);}