.b-warp{height: 100%; background: url(../images/w-btm.jpg) no-repeat center bottom #fff; background-size: 100% auto; }
/*头部*/
.b-warp .top{ height: 70px; background: url(../images/w-top.jpg) no-repeat center bottom; background-size: 100% auto; }
.b-warp .top img{ width: 60px; height: 60px; margin: 6px 0 0 10px;  }
.b-warp .top .title{ color: #fff;    margin-top: -64px;
    padding-left: 80px; }
.b-warp .top h1{ font-size: 1.2rem;   line-height: 36px; }
.b-warp .top p{ font-size:.6rem; }

/*首页*/
.index .banner{ margin: 10px;}
.index .banner img{ width: 100%; }
.index .icons{ width: 100%; }
.index .icons li{float: left; width: 33%; text-align: center;  margin: 15px 0; }
.index .icons li img{ height:45px;  }
.index .icons li p{ line-height: 1.6rem;height: 1.6rem; font-size:1.1rem;margin-top: .5rem; }
.index .icons li span{display: block; line-height: 1.6rem;height: 1.6rem; font-size:.8rem; color: #cacaca; }
.index .copyright{ position: absolute; bottom: 8px; text-align: center; color: #fff; font-size:.6rem; line-height: 20px; width: 100%; }
