@charset "utf-8";
/*导航栏*/
.b-index-nav{border:none;}
.b-index-nav .e-left-company-ico{display:block;height:100%;max-height:100%;overflow:hidden;margin-left:0.5rem;}
.b-index-nav .e-left-company-ico img{display:block;height:100%;}
.b-index-nav .e-right-compant-info{line-height:normal;color:white;}
.b-index-nav .e-right-compant-info span{display:block;font-size:12px;}
.b-index-nav .e-right-compant-info .m-phone { font-size: 1.4rem; margin-left: 0.6rem; }
.b-index-nav .e-right-compant-info .m-qr { font-size: 1.4rem;margin-left:0.6rem; }
/*去除滚动条*/
.b-page-content ::-webkit-scrollbar { width: 0px; height: 0px }

/*中间滚动区域*/
.b-center-content{width:100%;position:absolute;top:3rem;bottom:50px;overflow:auto;-webkit-overflow-scrolling:touch;} 
.b-index-nav .e-left-company-ico {
    display: block;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    margin-left: 0.5rem;
}

/*body{background: url(1.jpg) no-repeat 0 0;}*/

